/* GLOBAL STYLES */

body {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
ol {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
/* HEADER STYLES */
.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.page-header {
  backdrop-filter: blur(35px);
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}
.page-logo {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 28px;
  margin-right: 672px;
}
.menu-nav-list {
  display: flex;
  gap: 40px;
}
.menu-nav-list-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 12px;
}
